				</div> <!-- End Wrapper -->
			</main>
			<footer class="footer">
				<div class="wrapper">
					<span class="footer--bottom">
						  Napravljeno s <span class="ljubav" title="ljubavlju">♥</span> u Novom Sadu
					</span>
				</div>
			</footer>
		</div> <!-- End container -->
		{% include search-form.html%}
		<!--[if lt IE 10]>
		<p class="browserupgrade">Koristite <strong>zastarelu</strong> verziju internet pregledača. <a href="http://browsehappy.com/">Preuzmite noviju verziju</a> 	kako biste mogli u potpunosti da uživate u čarima interneta.</p>
		<![endif]-->

		<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
		<script>
			(function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
			function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
			e=o.createElement(i);r=o.getElementsByTagName(i)[0];
			e.src='http://google-analytics.com/analytics.js';
			r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
			ga('create','UA-XXXXX-X');ga('send','pageview');
		</script>

		<script src="{{site.baseurl}}/scripts/jquery-3.1.1.min.js"></script>
		<script src="{{site.baseurl}}/scripts/main.js"></script>
	</body>
</html>