<div class="container">
	<header class="header">
		<a href="{{site.baseurl}}/" class="header--logo">
			<h1>Sedmica.rs</h1>
			<span class="header--logoAnimation _js-logoAnimation"></span>
		</a>
        <div class="wrapper">
            <nav class="header--nav">
                <ul>
                    <li><a href="javascript:;" class="_js-searchTrigger"><span>Pretraga</span></a></li>
                    <li><a href="javascript:;">O nama</a></li>
                    <li><a href="{{site.baseurl}}/kontakt.html">Kontakt</a></li>
                </ul>
            </nav>
        </div>
        <div class="header--social">
            <ul>
                <li>
                    <a href="javascript:;" title="Pratite nas na Facebook-u">Facebook</a>
                </li>
            </ul>
        </div>
    </header>
	<main class="main">
        <div class="wrapper">