<div class="newsletter-section">
	<div class="newsletter-section--form">
		<form action="https://getsimpleform.com/messages?form_api_token=1ba180d2531763d56eb7686684d6a9fa" method="post">
		  <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
		  <input type='hidden' name='redirect_to' value='http://127.0.0.1:4000/thank-you.html' />
		  <!-- all your input fields here.... -->
		  <input type='text' name='test' placeholder="Vaš email" />
		 
		  <button type='submit' value='Prijava'>Prijava</button>
		</form>
	</div>
	<p>
		Prijavite se i jednom nedeljno će vam stizati email sa tekstovima objavljenim te nedelje.
	</p>
</div>

